* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
} 

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

.section-one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;


    
}
header {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;

}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    
}

a {
    color: white;
    text-decoration: none;
}

.section-innerone {
    display:flex;
    padding-left: 250px;
    padding-right: 250px;
    gap: 32px;
    margin-bottom: 50px;

}

.modul {
    width: 500px;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.inner-para p {
    font-size: 18px;
    color: #E5E7EB;
}

.inner-para button {
    color: white;
    background: #3882f6;
    padding: 4px 14px;
    margin-top: 10px; /* will need to readjust spacing between sign up button and rest of modul/inner-para */

}

.section-innerone img {
    height: 140px;
    flex: 1;
}
.section-two {
    text-align: center;
    padding-bottom: 25px;

}
.container-fourplex {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 35px;
}

.info {
    width: 150px;
}

.info img {
    height: 150px;
    width: 150px;
    border-radius: 25px;
    border: blue solid;
}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
}

#big-para {
    width: 600px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#small-para {
    margin-left: 375px;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-modul {
    display: flex;
    background-color: #3882f6;
    gap: 50px;
}

.container-cta {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.button {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.button button {
    color: white;
    border-radius: 5px;
    border: white solid thin;
    background-color: #3882F6;
    padding: 3px 15px;
}